:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #b7bcc0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.game-container {
  background-color: rgb(36, 34, 34);
  border: 1px solid rgb(138, 138, 138);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  width: 90%;
  margin: 1em 1em 1em 1em;
  text-align: center;
  border-radius: 5px;
}

.team-container {
  align-items: center;
  display: inline-flex;
}

.team-info {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  margin: 1em;
  width: min-content;
}

.team-score {
  display: flex;
  place-items: center;
  width: min-content;
  margin-right: 1em;
  margin-left: 1em;
}

.team-logo {
  width: 100%;
}

.game-info {
  padding-left: 1em;
  padding-right: 1em;
  width: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-info-detail {
  font-size: 0.7em;
  margin: 0;
}
