:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e7e9eb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.game-container {
  background-color: rgb(36, 34, 34);
  border: 1px solid rgb(138, 138, 138);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-flex;
  margin: 1em 1em 1em 1em;
  padding: 0.5em;
  text-align: center;
  border-radius: 5px;
}

.team-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
}

.team-logo {
  width: 25%;
  height: auto;
}
